.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home__img {
    background: url(./images/mine2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
    order: 1;
    width: 300px;
    justify-self: center;
    height: 300px;
    border-radius: 50%;

}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.35rem;
    color: rgb(75, 74, 74);
}

.home__social-icon:hover {
    color: black;
}

.home__title {
    font-size: 600;
    margin-bottom: 0.25rem;
}

.home__subtitle {
    position: relative;
    font-size: 1rem;
    padding-left: 5.4rem;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 1rem;
}

.home__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: black;
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 400px;
    margin-bottom: 3rem;
}

